<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign ="start end" fxLayoutGap="15">
        <mat-icon color="accent">store</mat-icon>
        <span class="logo">{{title}}</span>
        Logo
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
             <button mat-flat-button  routerLink="">Strona główna</button>
            <button mat-flat-button  routerLink="/products">Produkty</button>
            <span></span>
             <button mat-flat-button  routerLink="/login">Zaloguj</button>
             <mat-icon color="accent">shopping_basket</mat-icon>
    </div>
    </header>