<div flexLayout="row" class="footerManu">
    <div fxFlex>
        <div>Kategorie</div>
        <ul>
            <li>Kategoria 1</li>
            <li>Kategoria 2</li>
            <li>Kategoria 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>O firmie</div>
        <ul>
            <li>O firmie 1</li>
            <li>O firmie 2</li>
            <li>O firmie 3</li>
        </ul>
    </div>
    <div fxFlex>
        <div>Pomoc</div>
        <ul>
            <li>Pomoc 1</li>
            <li>Pomoc 2</li>
            <li>Pomoc 3</li>
        </ul>
    </div>
</div>
<div flexLayout="column" class="footerCopy">
Copy &copy; Shop 2022 Wszystkie prawa zastrzeżone.
</div>
    
    
    
 