.messages{
    padding:10px;
    margin-bottom: 10px;
    background-color: red;
    font-size: 18px;
    color: white;
    div{
        margin-bottom: 4px;
    }
    button{
        color: rgb(189, 0, 0);
    }
}